<button {{action "edit"}} class="btn btn-primary">Edit</button>
<h2>{{name}}</h2>
<div class="row">
  <div class="col-md-2">Gender:</div><div class="col-md-10">{{gender}}</div>
</div>
<div class="row">
  <div class="col-md-2">Bio:</div><div class="col-md-10">{{bio}}</div>
</div>
<div class="row">
  <div class="col-md-2">Born:</div><div class="col-md-10">{{born}}</div>
</div>
<div class="row">
  <div class="col-md-2">Appearances:</div>
  <div class="col-md-10">
    {{#each movie in appearances}}
	  {{#link-to "appearance.show" movie}}{{movie.name}}{{/link-to}}, 
    {{/each}}
  </div>
</div>
{{outlet}}